@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

body {
    font-family: 'GMarketSans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f2f8;
}

.sidebarh {
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    width: 250px;
    height: 100px;
    background-color: #c4eda1;
    box-shadow: 2px 2px 20px 1px rgb(159, 187, 168);
}

.sidebar {
    position: fixed;
    z-index: -1;
    top: 110px;
    left: 10px;
    border-radius: 10px;
    width: 250px;
    height: 500px;
    background-color: #f3f2f8;
    box-shadow: 2px 2px 20px 1px rgba(159, 187, 168, 0.479);
}

.h2 {
    display: inline;
}

.intro,
.mainbody,
.conclu {
    list-style-type: none;
    margin-left: -50px;
    line-height: 30px;
}

a {
    text-decoration: none;
}


.nav {
    position: fixed;
    top: 140px;
}

[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #c4eda1;
}

.topbar {
    margin-right: 10px;
    background-color: #004c99;
    height: 50px;
    width: 1250px;
    position: fixed;
    top: 0;
    left: 270px;
    border-radius: 10px;
}

[type="text"] {
    margin-left: 10px;
    margin-top: 7px;
    border: 0;
    border-radius: 10px;
    width: 300px;
    height: 30px;
}

#saveBtn {
    float: right;
    margin-right: 20px;
    margin-top: 7px;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    background: linear-gradient(to right, white, #004c99);
    color: #f3f2f8;
    border: none;
    box-shadow: inset 0px 0px 5px grey;
    transition: all 0.3s ease;
}

#saveBtn:hover {
    width: 110px;
    height: 35px;
    transition: all 0.3s ease;
}

#saveBtn:active {
    width: 110px;
    height: 35px;
    color: #004c99;
    transition: all 0.3s ease;
}


.skillbar {
    background-color: #0082e5;
    position: fixed;
    top: 50px;
    left: 270px;
    height: 40px;
    width: 1250px;
    border-radius: 15px;

}

.main {
    background-color: white;
    margin-right: 30px;
    position: fixed;
    top: 200px;
    left: 400px;
    height: 1000px;
    width: 1000px;
    border: 2px solid gray;
}

.document-area {
    position: absolute;
    left: 300px;
    top: 100px;

}

.file-up .upload-name {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    width: 155px;
    border: 0;
    border-radius: 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    color: #999999;
    box-shadow: 2px 2px 20px 1px rgba(159, 187, 168, 0.479);
}

.file-up input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.file-up label {
    position: relative;
    text-align: center;
    top: -37px;
    margin-left: 176px;
    display: inline-block;
    padding: 1px 4px;
    width: 50px;
    height: 30px;
    font-size: 10px;
    text-shadow: 0px 1px 0px #1570cd;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(230, 242, 228);
    color: black;
    border: none;
    border-radius: 10px;
}

.btn-open:hover {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
}